html,

h1{
	text-align: center;
	background-image: url("img/gray.jpg");
}

h2{
	text-align: center;
}


.MainPage-btn {
	/* background-image: url("img/gray.jpg"); */
	background-color: black; 
	border-radius: 14px;
	float:left;  /* Positioning of Button */
	color: yellow;
	padding: 5px 10px;
	text-align: center;
	box-shadow: 0 8px 14px 0 white; 
	font-size: 14px;
  }

div.container404 {
	font-family: 'Roboto';
	color: black;
	font-size: 24px;
	text-align: center;
	/* --background-image: url(trees.png); */
	/* background-image: url("img/gray.jpg"); */


}
