<!DOCTYPE html>
<html lang="en"></html>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <style type="text/css">
        ul {
         list-style-type: none;
        }
       </style>
<head>
<link rel="stylesheet" href="CSS/asciiweb.css">
<title id="title">01 Founders Ascii Art Web Task Nov 2021</title>
</head>
<body>
    <div id="grad2"></div><br>
    <img src="templates/01founders.png" width="50" height="50" alt="Sponsored by 01Founders">
<h1 id="myHeader">Ascii Art Web Task Nov 2021</h1>

<ol style="text-align:center";>
    <li><a href="html/task.html" target="_blank">Task Objectives</a></li>
    <li>Team Members</li>
    <li><a href="templates/postform.html" target="_blank">Ascii Art Web</a></li>
</ol>
</body>
</html> 